#!/bin/bash
set -euo pipefail
cd /home/sven/git/cloudHobo

# ─── Config ───────────────────────────────────────────────────────────────────
RESTIC_REPO="{{ restic_repo }}" #See vault
RESTIC_PASSWORD_FILE="/etc/restic-password"

# ─── Matrix Notify ────────────────────────────────────────────────────────────

SCRIPT_FAILED=0
SCRIPT_ERROR_MSG=""

trap 'SCRIPT_FAILED=1; SCRIPT_ERROR_MSG="Ligne $LINENO : $(eval echo \"\$BASH_COMMAND\")"' ERR

trap 'if [[ $SCRIPT_FAILED -eq 1 ]] && [[ -f ~/.matrix_notify_restic ]]; then
          source ~/.matrix_notify_restic
          curl -sf -X PUT \
              "https://matrix.svenlabs.fr/_matrix/client/v3/rooms/${MATRIX_ROOM}/send/m.room.message/${$}_$(date +%s)" \
              -H "Authorization: Bearer ${MATRIX_TOKEN}" \
              -H "Content-Type: application/json" \
              -d "{\"msgtype\":\"m.text\",\"body\":\"❌ restic.sh a échoué sur $(hostname) — $(date +%Y-%m-%dT%H:%M)\n🔍 ${SCRIPT_ERROR_MSG}\"}" \
              > /dev/null 2>&1 || true
      fi' EXIT

log()  { echo "  [$(date '+%H:%M:%S')] $*"; }

# ──────────────────────────────────────────────────────────────────────────────

echo ""
echo "🔒 backup.sh — $(date)"
echo ""

# ─── 1. DUMP PostgreSQL ───────────────────────────────────────────────────────
log "Dump PostgreSQL"
mkdir -p postgres/dumps
docker exec postgres pg_dumpall -U postgres > postgres/dumps/all.sql

# ─── 2. BACKUP RESTIC ─────────────────────────────────────────────────────────
log "Backup restic..."
restic -r "$RESTIC_REPO" \
  --password-file "$RESTIC_PASSWORD_FILE" \
  -o sftp.args="-i /home/sven/.ssh/resticBackup -o StrictHostKeyChecking=no -p 22" \
  backup . \
  --exclude ./arr_stack \
  --exclude ./.git

# ─── 3. CLEANING ─────────────────────────────────────────────────────────────
log "Cleaning"
rm -f postgres/dumps/all.sql

# ─── 4. PURGE ─────────────────────────────────────────────────────────────────
log "Purge old saves"
restic -r "$RESTIC_REPO" \
  --password-file "$RESTIC_PASSWORD_FILE" \
  -o sftp.args="-i /home/sven/.ssh/resticBackup -o StrictHostKeyChecking=no -p 22" \
  forget --prune \
  --keep-daily 7 \
  --keep-weekly 4 \
  --keep-monthly 6

echo ""
log "✅ Backup done"
echo ""
